@model Obligatorio.Models.ProyectoModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proyecto</h2>

@if (ViewBag.Mensaje == "" || ViewBag.Mensaje == null)
{
    using (Html.BeginForm("Create", "ProyectoModel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        if ((int)Session["edad"] >= 21)
        {
            <div class="form-horizontal">
                <h4>Crear</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.cuotas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cuotas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cuotas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.tipo, Model.TodosLosTipos, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div id="divExperiencia" class="form-group" hidden>
                    @Html.LabelFor(model => model.experiencia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.experiencia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.experiencia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="divCantIntegrantes" class="form-group" hidden>
                    @Html.LabelFor(model => model.cantidadIntegrantes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cantidadIntegrantes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cantidadIntegrantes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Archivo, htmlAttributes:
                      new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="Archivo" id="Archivo" class="form-control" /> @Html.ValidationMessageFor(model => model.Archivo)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
}
else
{

    <div class="alert alert-danger" role="alert">
        @ViewBag.Mensaje
    </div>

}
<div>
    @Html.ActionLink("Mis Proyectos", "Index", "Solicitante")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $('#tipo').change(function () {

            var mivalor = $(this).val();

            if (mivalor == "Cooperativo") {

                $("#divCantIntegrantes").show();
                $("#divExperiencia").hide();

            } else {

                $("#divExperiencia").show();
                $("#divCantIntegrantes").hide();

            }

        })

    </script>
}
